<p style="color: green"><%= notice %></p>

<div id="articles">
  <% @articles.each do |article| %>
    <h2><%= link_to article.title, article %></h2>
    <p>
      <%= "#{article.content[0, 100].rstrip}#{'...' if article.content.size > 100}" %>
    </p>
  <% end %>
</div>
